<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page not found</title>

    <link rel="stylesheet" href="/bootstrap.min.css" />
    <script src="/bootstrap.bundle.min.js" defer="true"></script>
</head>
<body>
    <div class="container mt-4">
        <h1>Error 404: Page not found</h1>
        <div class="error" data-th-text="${error}"></div>
    </div>
</body>
</html>